<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User form</title>
</head>
<body>
  <form action="/users" method="POST">
    <h3>Name:-</h3>
    <input type="text" name="name">
    <h3>Email:-</h3>
    <input type="email" name="email">
    <h3>Password</h3>
    <input type="password" name="password">
    <h3>Contact Number:-</h3>
    <input type="number" name="contact">
    <h3>Age:-</h3>
    <input type="number" name="age">
    <h3>About yourself:-</h3>
    <textarea name="description"></textarea>
    <button>submit</button>
  </form>
</body>
</html>