<div class="wrapper">
  <header class="header">
      <h1 class="header__title"><a class="title__link" href="/">Blog Posts</a></h1>
      
      <% if(locals.user){ %>
        <h3 class="user"><%- user.username %></h3>
      <% } %>
      <% if(locals.user){ %>
        <h3 class="logout"><a class="logout" href="/logout">Logout</a></h3>
      <% } else {%>
        <h3 class="login"><a class="logout" href="/login">Login</a></h3>
      <% } %>
          
      <% if(locals.user){ %>
        <a class="create__post" href="/posts/create"><i class="fas fa-plus-circle add__post"></i></a>
      <% } %>  
    </header>
</div>